#TodoList {
    list-style: none;
    margin: 0;
    padding: 0;
}

#TodoList li {
    padding: 5px;
    margin: 5px 0px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
}

#TodoList li i {
    opacity: 0.5;
}

#actionbuttonDelete:hover {
    opacity: 1;
    color: #ff0000;
    cursor: pointer;
}

#actionbuttonCreate:hover {
    opacity: 1;
    color: greenyellow;
    cursor: pointer;
}

.text-required {
    color: #ff0000;
}

.input-search {
    min-height: 56px;
    border-radius: 10px;
    background: #EFEFEF;
    width: 547px;
    padding: 16px 80px;
    align-items: center;
    gap: 16px;
    border: none;
}

@media screen and (max-width: 768px) {
    .input-search {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .add-button {
        float: none !important;
    }
}


.input-search:focus {
    outline: unset;
}

.search-container>.iconSearch-custom {
    top: 25%;
    bottom: 0;
    z-index: 9999;
    left: 24px;
    position: absolute;
}

.search-container>.iconSearch-custom2 {
    top: 28%;
    bottom: 0;
    z-index: 9999;
    left: 66px;
    position: absolute;
}

.search-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}